<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santan</title>
    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  </head>
  <body>

    <main class="content">
      {% include "pages/main-bonus.html" %}
      {% include "pages/account-bonus.html" %}
      {% include "pages/activation-bonus.html" %}
      {% include "pages/buy-bonus.html" %}
      {% include "pages/reviews-bonus.html" %}
      {% include "pages/term-bonus.html" %}
    </main>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./js/script.js"></script>
    <script src="/js/libs/scroll-reveal.js"></script>
  </body>
</html>
